* {
  padding: 0;
  margin: 0;
}
p,
h1 {
  margin: 0 0 30px 0;
}
.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}

.bridge-night {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.bridge-day {
  float: left;
  margin-right: 20px;
  max-width: 40%;
  min-width: 200px;
}

@media (width<800px) {
  .bridge-day {
    max-width: 100%;
  }
}
