@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont.ttf);
  font-style: normal;
  display: swap;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

body {
  font-family: Montserrat, sans-serif;
  background: #121215;
  display: flex;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #b8b8dc;
  width: 100%;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #7e7e99;
}

header {
  width: 20%;
  margin-left: 16px;
  margin-top: 100px;
}

.header {
  width: 91px;
  height: 277.16px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background: #1d1c21;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: fixed;
  transition: all 0.2s ease-in-out;
}

.header__item {
  width: 51px;
  height: 38px;
  position: fixed;
  left: 56px;
  top: 115px;
  transition: all 0.2s ease-in-out;
}

.header__img {
  width: 100%;
  height: 100%;
  position: absolute;
  align-content: center;
}

.header_img1 {
  display: block;
  margin: auto;
  width: 18px;
  transition: all 0.2s ease-in-out;
}

.header_img2 {
  display: block;
  margin: auto;
  width: 0px;
  transition: all 0.2s ease-in-out;
}

.header__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #121215;
  border-radius: 10px;
}

.header:hover {
  width: 218px;
}

.header:hover .header__item {
  width: 178px;
}

.header:hover .header_img1 {
  width: 0px;
}

.header:hover .header_img2 {
  width: 80%;
}

.nav__items {
  width: 32px;
  height: 210px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  left: 66px;
  position: fixed;
  padding-top: 20px;
  transition: width 0.2s ease-in;
}

.header:hover .nav__items {
  width: 178px;
}

.nav__item {
  width: 100%;
  height: 32px;
  position: relative;
  transition: all 0.1s ease-in;
  align-content: center;
}

.nav__item img {
  width: 18px;
  height: 18px;
  display: block;
  margin: auto;
  position: absolute;
  left: 7px;
  top: 7px;
}

.nav__item h4 {
  margin-left: 30px;
  display: none;
  font-size: 12px;
  font-weight: 400;
  width: 178px;
}

.selected {
  background: #2a292e;
  border-radius: 10px;
}

.nav__item:hover {
  background: #2a292e;
  border-radius: 10px;
}

.header:hover h4 {
  display: block;
}

main {
  width: 60%;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
}

.page__name {
  width: 100%;
}

.page__name h1 {
  font-size: 96px;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

.page__name h2 {
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.page__section {
  max-width: 844px;
  width: 100%;
  height: auto;
  background: #1d1c21;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.section__header {
  width: auto;
  height: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 9px;
  align-content: center;
  position: relative;
}

.section__header h2 {
  font-size: 24px;
  font-weight: 800;
}

.section__block {
  width: 100%;
  align-items: start;
  align-content: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

.section__block img {
  width: 100%;
  border-radius: 15px;
}

.section__block p {
  text-indent: 15px;
}

ul {
  padding-left: 30px;
}

ol {
  padding-left: 30px;
}

.image__block {
  max-width: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.image__block img {
  height: auto;
  max-height: 282px;
  width: auto;
  max-width: 400px;
}

footer {
  display: flex;
  justify-content: space-between;
  max-width: 844px;
  width: 100%;
}

.footer__text {
  font-size: 12px;
  font-weight: 200;
  text-align: end;
}

.footer__links img {
  padding-right: 5px;
}

a h2:hover {
  color: goldenrod;
}

.new__date {
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new__date p {
  padding-right: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

th {
  background-color: #ddd;
  border-left: none;
  color: #333;
  font-weight: bold;
}

.me__image img {
  border-radius: 100%;
  border: 3px #b8b8dc solid;
  width: 230px;
  height: 230px;
}

.href__disabled {
  text-decoration: line-through;
  opacity: 10%;
  user-select: none;
}

.login__section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 10px;
}

.login__header {
  display: flex;
  gap: 20px;
  width: 190px;
}

.login__input {
  width: 604px;
  border: 2px #b8b8dc solid;
  background: transparent;
  border-radius: 15px;
  height: 36px;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}

.calendar__text {
  width: 250px;
}

.calendar {
  max-width: 200px;
  margin-left: auto;
}

.password_eye {
  position: absolute;
  background: url("/img/Login/CloseEye.svg") center/cover;
  width: 19.36px;
  height: 18px;
  right: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.password_eye.active {
  background: url("/img/Login/OpenEye.svg") center/cover;
  width: 20px;
  height: 14px;
}

.checkbox {
  display: none;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  font-size: 20px;
  font-weight: 200;
}

.checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #b8b8dc;
  background-color: transparent;
}

.checkbox:checked + label::before {
  background-color: #b8b8dc;
  content: "\2713";
  text-align: center;
}

.login__button {
  width: 350px;
  height: 70px;
  padding: 10px;
  font-size: 24px;
  font-weight: 800;
  background: linear-gradient(90deg, #777387 16%, #484551 62%, #2e2d34 100%);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.register__button {
  width: 350px;
  height: 70px;
  padding: 10px;
  font-size: 24px;
  font-weight: 400;
  background: none;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.forgot__password {
  align-items: center;
  width: 100%;
  font-weight: 200;
}

.top a {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  background: rgba(164, 165, 164, 0.3);
  padding: 10px;
  color: rgb(255, 255, 255);
}

@media (width <=1000px) {
  header {
    display: none;
  }

  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  .page__name h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    text-align: center;
  }

  .section__header h2 {
    font-size: 18px;
  }

  .section__block p {
    text-indent: 10px;
  }

  .section__block {
    font-size: 14px;
  }

  .image__block img {
    max-height: 141px;
    max-width: 200px;
  }

  footer img {
    width: 30%;
  }

  .me__image img {
    border-radius: 100%;
    border: 3px #b8b8dc solid;
    width: 130px;
    height: 130px;
  }

  .login__input {
    font-size: 15px;
    width: 80%;
  }

  .buttons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .login__button {
    font-size: 15px;
    width: 100%;
    height: 70px;
  }

  .register__button {
    font-size: 15px;
    width: 100%;
    height: 70px;
  }

  .calendar__text {
    width: 100px;
  }

  .calendar {
    max-width: 100px;
    margin-left: auto;
  }

  .checkbox + label {
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    font-size: 13px;
    font-weight: 200;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}
